@page "/CreateTeam"
@attribute [Authorize]
@inject IUserService userService
@inject ITeamService teamService
@inject NavigationManager navigationManager


@if (PageReady)
{
    <h3>Tworzenie drużyny</h3>

    <EditForm Model="NewTeam" OnValidSubmit="OnSubmit">
        <DataAnnotationsValidator />

        <GenericForm Model="NewTeam" EditorClass="form-control">
            <FieldTemplate Context="field">
                <div class="form-group">
                    <label for="@field.EditorId">@field.DisplayName</label>
                    @field.EditorTemplate
                    <p class="text-danger">@field.FieldValidationTemplate</p>
                </div>
            </FieldTemplate>


        </GenericForm>

        <h5>Zawodnicy</h5>
        <p class="text-danger"><ValidationMessage For="@(() => NewTeam.Players)"></ValidationMessage></p>
        <table class="table table-responsive table-sm">
            <thead>
                <tr>
                    <th>Lp</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Numer</th>
                    <th>Wzrost</th>
                    <th>Pozycja</th>
                    <th>Płeć</th>
                    <th>Email</th>
                    <th>Usuń</th>
                </tr>
            </thead>
            @{
                i = 0;
            }
            @foreach (var player in NewTeam.Players)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>
                        <InputText style="max-width:120px" @bind-Value="player.FirstName" />
                        <p class="text-danger"><ValidationMessage For="@(() => player.FirstName)" /></p>
                    </td>
                    <td><InputText style="max-width:120px" @bind-Value="player.LastName" /></td>
                    <td><InputNumber style="max-width:55px" @bind-Value="player.JerseyNumber" /></td>
                    <td><InputNumber style="max-width:55px" @bind-Value="player.Height" /></td>
                    <td>
                        <InputSelect style="max-width:100px" @bind-Value="player.PositionId">
                            @foreach (var position in Positions)
                            {
                                <option value="@position.Id">@position.Name</option>
                            }
                        </InputSelect>
                    </td>
                    <td class="d-flex flex-nowrap align-items-center">
                        <InputRadioGroup @bind-Value="player.Gender">
                            <InputRadio Value="false" class="m-1"></InputRadio>
                            <label class="m-1">M </label>
                            <InputRadio Value="true" class="m-1"></InputRadio>
                            <label class="m-1">K </label>
                        </InputRadioGroup>
                    </td>
                    <td><InputText style="max-width:120px" @bind-Value="player.Email" /></td>
                    <td>
                        <button type="button" class="btn btn-danger" @onclick="() => NewTeam.Players.Remove(player)"><b>-</b></button>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <button type="button" class="btn btn-success" @onclick="AddPlayer"><b>+</b></button>
                </td>
            </tr>
        </table>
        <p class="text-danger"><ValidationSummary /></p>
        <div class="d-flex flex-column align-items-center">
            @if (IsLoading)
            {
                <LoadingIcon></LoadingIcon>
            }
            else
            {
                @if (ShowErrorMessage)
                {
                    <p class="text-danger">@ErrorMessage </p> <br />
                }

                <button class="btn btn-primary col-sm-3" type="submit">Wyślij</button>
            }

        </div>


    </EditForm>
}
else
{
    <div class="d-flex flex-column align-items-center mt-4">
        @if (ShowErrorMessage)
        {
            <p class="text-danger">Wystąpił błąd: @ErrorMessage </p>
            <br />
        }
        else
        {
            <LoadingIcon></LoadingIcon>
        }
    </div>
}

@code {
    NewTeam NewTeam { get; set; } = new NewTeam();
    List<PositionDto> Positions { get; set; } = new List<PositionDto>();
    int i = 0;
    bool IsLoading { get; set; } = false;
    bool ShowErrorMessage { get; set; } = false;
    string ErrorMessage { get; set; } = "";
    bool PageReady { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var userHasTeam = await userService.IsTeamCaptain();

        if (!userHasTeam.Success)
        {
            ShowErrorMessage = true;
            ErrorMessage = userHasTeam.Message;
            return;
        }

        if (userHasTeam.Data)
        {
            navigationManager.NavigateTo("/ManageTeam");
            return;
        }


        var positionsResult = await userService.GetPositions();
        if (!positionsResult.Success)
        {
            ShowErrorMessage = true;
            ErrorMessage = positionsResult.Message;
            return;
        }
        Positions = positionsResult.Data!;

        AddPlayer();

        PageReady = true;
    }

    public void AddPlayer()
    {
        i = 0;
        NewTeam.Players.Add(new TeamPlayerDto());
    }

    public async Task OnSubmit()
    {
        IsLoading = true;
        var response = await teamService.CreateTeam(NewTeam);
        IsLoading = false;
        if (response.Success)
        {
            navigationManager.NavigateTo("/ManageTeam");
        }
        else
        {
            ShowErrorMessage = true;
            ErrorMessage = response.Message;
            StateHasChanged();
        }

    }
}