@page "/match/{Id:int}"


@if (MatchData != null)
{

    <div class="d-flex flex-row flex-wrap justify-content-around">

        <div class="card m-2 team order-1">
            <div class="card-header">@MatchData.HomeTeam.Name</div>
            <div class="card-body">
                <div class="card-text">
                    @if (MatchData.HomeTeam.Logo != null)
                    {
                        <img class="img-thumbnail img-fluid" src="@Convert.ToBase64String(MatchData.HomeTeam.Logo)" />
                    }
                    else
                    {

                        <img src="/images/user.png" class="img-fluid">
                    }

                </div>
                <div class="card-text text-center">
                    <NavLink href="@{
                        "/team/" + MatchData.HomeTeam.Id
                    }">@MatchData.HomeTeam.Name</NavLink>
                </div>

                <table class="table text-left">
                    <thead>
                        <tr>
                            <th>Lp</th>
                            <th>Zawodnik</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in MatchData.HomeTeam.Players)
                        {
                            <tr>
                                <td>@(i1++)</td>
                                <td>
                                    <NavLink href="@{
                                        "/user/" + player.Id
                                    }">@player.FirstName @player.LastName</NavLink>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="order-2">
            <div class="card m-2 ">
                <div class="card-header">Wynik</div>
                <div class="card-body table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>@MatchData.HomeTeam.Name</th>
                                <th>@MatchData.GuestTeam.Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@MatchData.Team1Score</td>
                                <td>@MatchData.Team2Score</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Set I</th>
                                <th>Set II</th>
                                <th>Set III</th>
                                <th>Set IV</th>
                                <th>Set V</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-nowrap">
                                <td>@MatchData.Set1Team1Score : @MatchData.Set1Team2Score</td>
                                <td>@MatchData.Set2Team1Score : @MatchData.Set2Team2Score</td>
                                <td>@MatchData.Set3Team1Score : @MatchData.Set3Team2Score</td>
                                <td>@MatchData.Set4Team1Score : @MatchData.Set4Team2Score</td>
                                <td>@MatchData.Set5Team1Score : @MatchData.Set5Team2Score</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card m-2 team order-3">
            <div class="card-header">@MatchData.GuestTeam.Name</div>
            <div class="card-body">
                <div class="card-text">
                    @if (MatchData.GuestTeam.Logo != null)
                    {
                        <img class="img-thumbnail img-fluid" src="@Convert.ToBase64String(MatchData.GuestTeam.Logo)" />
                    }
                    else
                    {
                        <img class="img-thumbnail img-fluid" src="/images/user.png">
                    }

                </div>
                <div class="card-text text-center">
                    <NavLink href="@{
                        "/team/" + MatchData.GuestTeam.Id
                    }">@MatchData.GuestTeam.Name</NavLink>
                </div>

                <table class="table text-left">
                    <thead>
                        <tr>
                            <th>Lp</th>
                            <th>Zawodnik</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in MatchData.GuestTeam.Players)
                        {
                            <tr>
                                <td>@(i2++)</td>
                                <td>
                                    <NavLink href="@{
                                        "/user/" + player.Id
                                    }">@player.FirstName @player.LastName</NavLink>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-around flex-wrap">

        <div class="card m-2">
            <div class="card-header">Podstawowe informacje</div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Data</td>
                            <td>@MatchData.Schedule</td>
                        </tr>
                        <tr>
                            <td>@MatchData.MatchLeague</td>
                            <td>@MatchData.RoundName</td>
                        </tr>
                        <tr>
                            <td>Miejsce</td>
                            <td>@MatchData.VenueName</td>
                        </tr>
                        <tr>
                            <td>Sędzia</td>
                            <td>@MatchData.Referee.FirstName @MatchData.Referee.LastName</td>
                        </tr>
                        <tr>
                            <td>MVP</td>
                            <td>@MatchData.MVP.FirstName @MatchData.MVP.LastName</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header">Dodatkowe informacje</div>
            <div class="card-body">
                <div class="card-text">
                    @MatchData.MatchInfo
                </div>
            </div>
        </div>

    </div>
}
else
{
    <p>Loading user profile...</p>
}


@code {
    private int i1 = 1;
    private int i2 = 1;

    [Parameter]
    public int Id { get; set; }

    public MatchDto? MatchData { get; set; }

    public List<SeasonDto>? Seasons { get; set; }

    public NewCommentDto commentModel { get; set; }

    public List<MatchDto>? Games { get; set; }

    protected override void OnInitialized()
    {
        MatchData = GetMatchData();
    }

    protected override void OnParametersSet()
    {
        MatchData = GetMatchData();
    }


    public MatchDto GetMatchData()
    {
        // Sample PlayerDto
        var playerDto1 = new UserSummaryDto
            {
                Id = 1,
                FirstName = "John",
                LastName = "Doe",
            };

        var playerDto2 = new UserSummaryDto
            {
                Id = 2,
                FirstName = "Jane",
                LastName = "Smith",
            };

        // Sample TeamDto with Players
        var teamDto1 = new TeamDto
            {
                Id = 101,
                Name = "Team A",
                Players = new List<UserSummaryDto> { playerDto1, playerDto1, playerDto1, playerDto1, playerDto1, playerDto2 },
            };

        var teamDto2 = new TeamDto
            {
                Id = 102,
                Name = "Team B",
                Players = new List<UserSummaryDto> { playerDto2, playerDto1, playerDto1, playerDto2 },
            };

        // Sample MatchDto
        var matchDto = new MatchDto
            {
                Id = 1,
                Schedule = DateTime.Now.AddHours(24),
                CreationDate = DateTime.Now,
                VenueName = "Sample Venue",
                League = new LeagueDto
                {
                    Id = 201,
                    Name = "Sample League",
                },
                Sector = 2,
                Team1Score = 3,
                Team2Score = 2,
                RoundName = "Finals",
                Referee = new UserSummaryDto
                {
                    Id = 301,
                    FirstName = "Referee",
                    LastName = "Smith",
                },
                MatchInfo = "Sample match info",
                MVP = new UserSummaryDto
                {
                    Id = 401,
                    FirstName = "MVP",
                    LastName = "Johnson",
                },
                Set1Team1Score = 25,
                Set2Team1Score = 23,
                Set3Team1Score = 25,
                Set4Team1Score = 22,
                Set5Team1Score = 15,
                Set1Team2Score = 21,
                Set2Team2Score = 25,
                Set3Team2Score = 23,
                Set4Team2Score = 25,
                Set5Team2Score = 13,
                MatchLeague = "Sample Match League",
                HomeTeam = teamDto1,
                GuestTeam = teamDto2,
            };

        return matchDto;
    }
}
