<div class="blog-box row">
    <div class="col-md-4">
        <div class="post-media">
            <NavLink href="@($"/article/{Article.Id}")">
                <TeamLogo Image="Article.Image"></TeamLogo>
            </NavLink>
        </div><!-- end media -->
    </div><!-- end col -->

    <div class="blog-meta big-meta col-md-8">
        <h5><NavLink href="@($"/article/{Article.Id}")" title="">@Article.Title</NavLink></h5>
        <p>@ContentPreview</p>
        <small><a href="tech-single.html" title="">@Article.CreationDate</a></small>
    </div><!-- end meta -->
</div><!-- end blog-box -->

@code {
    [Parameter]
    public ArticleDto Article { get; set; }

    public MarkupString ContentPreview
    {
        get
        {
            if (Article.Content.Length > 70)
            {
                return new MarkupString(Article.Content.Substring(0, 70) + "...");
            }
            else
            {
                return new MarkupString(Article.Content);
            }
        }
    }
}
